@{
    ViewData["Title"] = "GetDVDofNoLoan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .container {
        background-color: rgba(255,255,255,0.13);
        border-radius: 10px;
        backdrop-filter: blur(10px);
        border: 2px solid rgba(255,255,255,0.1);
    }
</style>
<div class='container-fluid'>
    <div class="text-center">
        <h1>Welcome To Ropey's DVD Management System</h1>
        <p class='align-content-md-center'>About DVD Management</p>
        <p>
            Ropey's DVD management software is used to manage CDs, DVDs, give loans to members of this community.
        </p>
        <img src="https://wpassets.brainstation.io/app/uploads/2017/04/13100509/Netflix-Background.jpg" alt="Italian Trulli" style="width:auto;height:600px;">

    </div>

</div>
