@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{

}

@*<div class="container-fluid">
    <h1>Hi Welcome to the index Model</h1>
    <ul>
        <li class="list-group">
            <a class="list-group-item" asp-area="" style="color: black" asp-controller="Producers" asp-action="Index">Producers</a>
        </li>
        <li class="list-group">
            <a class="list-group-item" asp-area="" style="color: black" asp-controller="Studios" asp-action="Index">Studios</a>
        </li>
        <li class="list-group">
            <a class="list-group-item" asp-area="" style="color: black" asp-controller="Loans" asp-action="Index">Loans</a>
        </li>
        <li class="list-group">
            <a class="list-group-item" asp-area="" style="color: black" asp-controller="LoanTypes" asp-action="Index">Loan Types</a>
        </li>
        <li class="list-group">
            <a class="list-group-item" asp-area="" style="color: black" asp-controller="Members" asp-action="Index">Members</a>
        </li>
        <li class="list-group">
            <a class="list-group-item" asp-area="" style="color: black" asp-controller="MembershipCategories" asp-action="Index">Membership Categories</a>
        </li>
        <li class="list-group">
            <a class="list-group-item" asp-area="" style="color: black" asp-controller="DVDCopies" asp-action="Index">DVDCopies</a>
        </li>
        <li class="list-group">
            <a class="list-group-item" asp-area="" style="color: black" asp-controller="DVDTitles" asp-action="Index">DVD Titles</a>
        </li>
        <li class="list-group">
            <a class="list-group-item" asp-area="" style="color: black" asp-controller="DVDCategories" asp-action="Index">DVD Categories</a>
        </li>
        <li class="list-group">
            <a class="list-group-item" asp-area="" style="color: black" asp-controller="CastMembers" asp-action="Index">Cast Members</a>
        </li>
        <li class="list-group">
            <a class="list-group-item" asp-area="" style="color: black" asp-controller="Actors" asp-action="Index">Actor</a>
        </li>
    </ul>

</div>*@
<div class='container-fluid'>
    
    <div class="text-center"><h1>Welcome To Ropey's DVD Management System</h1>
        <p class='align-content-md-center'>About DVD Management</p>
            <p>
                Ropey's DVD management software is used to manage CDs, DVDs, give loans to members of this community.
            </p>
            <img src="https://wpassets.brainstation.io/app/uploads/2017/04/13100509/Netflix-Background.jpg" alt="Italian Trulli" style="width:auto;height:600px;">

        </div>


</div>
