@{
    ViewData["Title"] = "ResetUserPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ResetUserPassword</h1>


<h2>Reset Password</h2>

<style>
    .container {
        background-color: rgba(255,255,255,0.13);
        border-radius: 10px;
        backdrop-filter: blur(10px);
        border: 2px solid rgba(255,255,255,0.1);
    }
    </style>
<hr />
<div class="row">

    @if (ViewBag.Success)
    {
        <h2>SUCESSFULL</h2>
    }
    <div class="col-md-12">
        <form action="@Url.Action("ChangePassword", "Administration")" method="post">
            <label type="Email">Email</label>
            <input id="email" name="email" value="@ViewBag.Email" class="form-control" />

            <label type="Password" class="mt-2">Enter New Password</label>
            <input id="password" name="password" class="form-control" />
            <button type="submit" class="btn btn-primary">Reset</button>
        </form>
    </div>
</div>