@{
    ViewData["Title"] = "AllFunctions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>All Functions</h1>

<div class="container-fluid">
    <ul>
        <li class="list-group">
            <a class="list-group-item" asp-area="" style="color: black" asp-controller="NormalUser" asp-action="GetActorDetails">Function1</a>
        </li>
        <li class="list-group">
            <a class="list-group-item" asp-area="" style="color: black" asp-controller="NormalUser" asp-action="GetActorsLoanCopy">Problem Function2</a>
        </li>
        <li class="list-group">
            <a class="list-group-item" asp-area="" style="color: black" asp-controller="NormalUser" asp-action="GetDateOut">Function3</a>
        </li>


        <li class="list-group">
            <a class="list-group-item" asp-area="" style="color: black" asp-controller="Assistant" asp-action="GetList">Function4</a>
        </li>
        <li class="list-group">
            <a class="list-group-item" asp-area="" style="color: black" asp-controller="Assistant" asp-action="GetLoanDetails">Function5</a>
        </li>
        <li class="list-group">
            <a class="list-group-item" asp-area="" style="color: black" asp-controller="Assistant" asp-action="ListAllMembers">Function6</a>
        </li>
        <li class="list-group">
            <a class="list-group-item" asp-area="" style="color: black" asp-controller="Assistant" asp-action="ListAllLoans">Problem Function7</a>
        </li>
         <li class="list-group">
            <a class="list-group-item" asp-area="" style="color: black" asp-controller="Assistant" asp-action="GetTotalLoans">Function8</a>
        </li>
        <li class="list-group">
            <a class="list-group-item" asp-area="" style="color: black" asp-controller="Assistant" asp-action="CreateDVDTitle">Function9</a>
        </li>
        <li class="list-group">
            <a class="list-group-item" asp-area="" style="color: black" asp-controller="Assistant" asp-action="GetListOfDVDCopy">Function10A</a>
        </li>
        <li class="list-group">
            <a class="list-group-item" asp-area="" style="color: black" asp-controller="Assistant" asp-action="GetDVDCopyListNotLoaned">Function11</a>
        </li>
         <li class="list-group">
            <a class="list-group-item" asp-area="" style="color: black" asp-controller="Assistant" asp-action="MmemberListNotBorrowed">Problem Function12</a>
        </li>
        <li class="list-group">
            <a class="list-group-item" asp-area="" style="color: black" asp-controller="Assistant" asp-action="GetDVDofNoLoan">Function13</a>
        </li>
        <li class="list-group">
            <a class="list-group-item" asp-area="" style="color: black" asp-controller="Account" asp-action="ResetPassword">Password Change</a>
        </li>


    </ul>

</div>
