@{
    ViewData["Title"] = "GetListOfDVDCopy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
    <head>
        
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    
        <style>
/*            .item{
  padding: 5px;
  
            }
        .fa {
  padding: 10px;
  font-size: 20px;
  text-decoration: none;
  margin: 5px 2px;
}*/

.fa:hover {
    color: red;
    opacity: 0.7;
}

.fa-trash {
  color: white;
}
        
        </style>
        </head>
        <body>
<h1>Delete Old DVDs</h1>
@if (ViewBag.copyDeleted)
{
@*    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>DVD Copy has been deleted!</strong>
        <button type="button" asp-action="GetListOfDVDCopy" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>*@
}
<table class="table table-custom text-light mt-3">
    <thead class='bg-custom'>
        <tr>

            <th>Copy Number</th>
            <th>Date Returned</th>
            <th>Date Purchased</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.dvdList)
        {
            <tr>
                <td class="test">@item.dvdCopy.CopyNumber</td>
                <td class="test">@item.loan.DateReturned</td>
                <td class="test">@item.dvdCopy.DatePurchased</td>
                <td>
                    <ul class="list-inline m-0">
                        <li class="list-inline-item">
                            <a href="@Url.Action("DeleteCopy","Assistant",new { item.dvdCopy.CopyNumber} )" class="fa fa-trash" type="button" data-toggle="tooltip" data-placement="top" title="Delete">
                            </a>
                        </li>
                    </ul>
                </td>
            </tr>
        }
    </tbody>
</table>
</body>
</html>

