@using RopeyDVDs.ViewModels
@model LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Pages/_AuthLayout.cshtml";
}

<form method="post">
        <h3>Ropey's DVD Login</h3>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

                <div class="form-check mt-1">
                    <input asp-for="RememberMe" type="checkbox" class="form-check-input">
                    @*<label class="form-check-label" asp-for="RememberMe">@Html.DisplayNameFor(m => m.RememberMe)</label>*@
                    <h5 class="form-check-label ml-lg-4"  asp-for="RememberMe">Remember Me</h5>
                </div>

                <p>
                     <a asp-area="" style="color: white; font-size: 10px;" asp-controller="Account" asp-action="Register">Register as a new user</a>
                </p>
@*                <p>
                     <a asp-area="" style="color: white; font-size: 10px;" asp-controller="Account" asp-action="ResetPassword">Forgot password?</a>
                </p>*@
            <button type="submit" class="btn-primary">Login</button>
        </form>
